/* Contenedor principal del Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  background-color: #00051a; 
  height: 64px;
}

/* */
@media (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

/* El logo y el título "Jukebox" */
.nav-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 12px;
}

.nav-logo {
  height: 40px;
  width: auto;
}

.brand-title {
  color: #ffffff; /* Un color violeta/azul para resaltar */
  font-size: 1.5rem;
  margin: 1;
}

/* La lista de navegación  */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none; 
  margin: 0;
  padding: 0;
  gap: 20px; /* Espacio entre Albums, Canciones, etc. */
}

.nav-menu li {
  display: flex;
  align-items: center;
}

.nav-menu a {
  color: #cbd5e1;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: white;
}

/* El input de búsqueda */
.nav-search-input {
  background-color: #1e293b;
  border: 1px solid #334155;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  outline: none;
}

/* Botón de Login con estilo de botón */
.login-btn {
  background-color: #6366f1;
  color: white !important;
  padding: 8px 16px;
  border-radius: 8px;
}